Django==3.2.5
django-admin==2.0.1
django-cors-headers==3.11.0
django-environ==0.8.1
djangorestframework==3.13.1
drf-extra-fields==3.4.0
drf-yasg==1.20.0
pandas==1.5.3
psycopg2==2.9.5
SQLAlchemy==1.4.4
langdetect==1.0.9
django-filter==23.5
openpyxl==3.1.2
google-cloud-translate==3.15.3
pycountry==23.12.11
geonamescache==2.0.0
currency-symbols==2.0.3